﻿@{
    ViewBag.Title = "Đặt hàng thành công";
}


<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row" style=" margin-top: -98px;">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="">Trang chủ</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="row" style=" height: 314px;">
                <div class="col-md-12" id="load_data">
                    <h2 style=" font-family: monospace;">Đặt hàng thành công</h2>
                    <a style="font-size: 14px;" href="/san-pham">(Tiếp tục mua hàng)</a>
                    <div style="height: 1px; color: blue;"><i style="font-size: 503px; position: relative; left: 410px; top: -171px; }" class="fa fa-check"></i></div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script src="~/Content/assets/js/categories_custom3.js"></script>
}