﻿@model WebBanHangOnline.Models.OrderViewModel
@{
    if (ViewBag.User != null)
    {

    }

}


<style>
    ::placeholder {
        text-align: left; /* Đưa văn bản về bên trái */
        position: relative;
        top: -30px; /* Điều chỉnh vị trí của placeholder */
    }
</style>

@using (Ajax.BeginForm("CheckOut", "Shoppingcart", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnSuccess = "OnSuccessCO",
    OnFailure = "OnFailure",

}, new { @Id = "myForm" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style=" margin-top: -358px;">
        <div class="col-6">
            <h3>Thông tin nhận hàng</h3>
            @{
                var user = (WebBanHangOnline.Models.ApplicationUser)ViewBag.User;
                <div class="form-group">
                    <input style="color: black; height: 85px" placeholder="Họ và tên người nhận hàng" value="@user.Fullname" type="text" name="CustomerName" required class="form-control" autocomplete="off" />
                </div>


                <div class="form-group">
                    <input style="color: black; height: 85px" placeholder="Số điện thoại(Vui lòng điền chính xác SĐT)" value="@user.Phone" type="text" name="Phone" class="form-control" autocomplete="off" />
                </div>


                <div class="form-group">
                    <input style="color: black; height: 100px" placeholder="Địa chỉ" type="text" name="Address" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input style="color: black; height: 100px" placeholder="Email" value="@user.Email" type="text" name="Email" class="form-control" autocomplete="off" />
                </div>
            }
            <h3>Thanh toán</h3>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <button type="submit" style="cursor:pointer" class="btn btn-block btn-success" id="btnCheckOut">Đặt hàng</button>

                    </div>
                </div>
                <div class="col-6">
                    <div style="height: 37.6px; width: 100%; border: 1px solid; border-radius: 4px; background-color: darkblue;">
                        <a href="/gio-hang" style="color: white; position: relative; top: 7px; left: 14px; font-size: 18px;">Quay về giỏ hàng</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">


            <div class="form-group">
                <label style="font-size: 22px; margin-top: 6px; font-family: sans-serif; ">Phương thức thanh toán</label>
                <div class="form-check" style="position: relative; left: 20px;">
                    <input style="cursor:pointer" class="form-check-input" type="radio" name="TypePayment" id="paymentMethod1" value="1" checked>
                    <label class="form-check-label" for="paymentMethod1" style="color: darkblue; text-transform:uppercase; cursor:pointer">Thanh toán khi nhận hàng</label>
                    <label></label>
                </div>
                <div class="form-check" style="position: relative; left: 20px;">
                    <input style="cursor:pointer" class="form-check-input" type="radio" name="TypePayment" id="paymentMethod2" value="2">
                    <label class="form-check-label" for="paymentMethod2" style="color: darkblue; text-transform: uppercase; cursor: pointer ">Chuyển khoản<span style=" color: darkgrey; text-transform: none;">(Nội dung: Họ tên + SDT đặt hàng)</span></label>
                </div>
            </div>


            <div class="row" style="display: none">
                <div class="col-12">
                    <div id="bankInfo" style="border: 1px solid; height: 528px">
                        <div class="bankAccount" style="width: 307px; height: 512px; background-image: url(/Content/assets/images/bank.png); position: relative; left: 44px;"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}
<script>
    $(document).ready(function () {
        // Bắt sự kiện thay đổi chọn phương thức thanh toán
        $('input[name="TypePayment"]').change(function () {
            // Kiểm tra xem phương thức thanh toán đã chọn có giá trị là 2 không
            if ($(this).val() === '2') {
                // Nếu có, hiển thị phần thông tin ngân hàng
                $('#bankInfo').parent().parent().show(); // Hiển thị phần thông tin ngân hàng
            } else {
                // Nếu không, ẩn phần thông tin ngân hàng
                $('#bankInfo').parent().parent().hide(); // Ẩn phần thông tin ngân hàng
            }
        });
    });

</script>