﻿@{
    ViewBag.Title = "Quên mật khẩu thành công";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="container news_section_container">
    <div class="row" style="margin-bottom: 200px;">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="col-md-12">
                <h1 class="title-news" style="text-align:center"> @ViewBag.Title</h1>
                @*<h2>@ViewBag.Title.</h2>*@

                <p style="text-align:center">
                    Kiểm tra email để thiết lập lại mật khẩu
                </p>
            </div>
        </div>
        <div class="col-3"></div>
       
    </div>

</div>