@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .red_button1 {
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 40px;
        background: #5BBEE1;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        .red_button1:hover {
            background: lightblue !important;
        }

        .red_button1 a {
            display: block;
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            line-height: 40px;
            width: 100%;
        }

    .shop_now_button1 {
        width: 140px;
        margin-top: 32px;
    }
</style>


<!-- Slider -->





<div class="main_slider" style="background-image: url(Content/assets/images/BannerPic.png); margin-top: 75px; height: 575px">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col" style="margin-left: -125px;">
                <div class="main_slider_content">
                    <h5 style="color:white;font-family: Arial;font-size: 40px;font-style: italic;position: relative;left: -3px;top: -40px;">Summer Collection 2024</h5>
                    <h1 style="color: white; font-family: Arial; font-weight: 900; font-size: 120px; margin-left:-8px ">BIG SALE</h1>
                    <h3 style="color: white; font-weight: 700"> UP TO 50% OFF New Arrivals</h3>
                    <div style="border-radius: 50px; margin-bottom: 40px" class="red_button1 shop_now_button1"><a href="/products">BUY NOW</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 ">
            <div class="benefit_item d-flex flex-row align-items-center" style="margin-left: -204px; height: 60px; width: 400px">
                <div class="icon">
                    <img width="40" height="40" class="lazyload loaded" src="https://cdn.shopvnb.com/themes/images/policy_image_2.svg" data-src="https://cdn.shopvnb.com/themes/images/policy_image_2.svg" alt="Vận chuyển toàn quốc" data-was-processed="true">
                </div>
                <div class="benefit_content">
                    <div class="benefit_content">
                        <h6 style="font-weight: 600 ">Vận chuyển toàn quốc</h6>
                        <p style="font-weight:100">Được kiểm tra hàng khi nhận</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="benefit_item d-flex flex-row align-items-center" style="height: 60px; width: 400px; margin-left: -90px">
                <div class="icon">
                    <img width="50" height="50" class="lazyload loaded" src="https://cdn.shopvnb.com/themes/images/thanh_toan.svg" data-src="https://cdn.shopvnb.com/themes/images/thanh_toan.svg" alt="" data-was-processed="true">
                </div>
                <div class="benefit_content">
                    <h6 style="font-weight: 600; padding-left: 10px">Tiến hành thanh toán</h6>
                    <p style="font-weight: 100; padding-left: 10px">Với nhiều phương thức</p>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="benefit_item d-flex flex-row align-items-center" style="height: 60px; width: 400px; margin-left: 22px ">
                <div class="icon">
                    <img width="50" height="50" class="lazyload loaded" src="https://cdn.shopvnb.com/themes/images/doi_san_pham.svg" data-src="https://cdn.shopvnb.com/themes/images/doi_san_pham.svg" alt="" data-was-processed="true">
                </div>
                <div class="benefit_content">
                    <h6 style="font-weight: 600; padding-left: 20px">Đổi sản phẩm mới</h6>
                    <p style="font-weight: 100; padding-left: 20px">nếu sản bị phẩm lỗi</p>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="benefit_item d-flex flex-row align-items-center" style="height: 60px; margin-left: 135px; margin-right: -208px ">
                <div class="icon">
                    <img width="40" height="40" class="lazyload loaded" src="https://cdn.shopvnb.com/themes/images/policy_image_1.svg" data-src="https://cdn.shopvnb.com/themes/images/policy_image_1.svg" alt="" data-was-processed="true">
                </div>
                <div class="benefit_content">
                    <h6 style="font-weight: 600; padding-left: 20px">Bảo đảm chất lượng</h6>
                    <p style="font-weight: 100; padding-left: 20px">Sản phẩm bảo đảm chất lượng</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
@Html.Action("MenuProductCategory", "Menu")

<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        @Html.Action("MenuArrivals", "Menu")
    </div>
</div>

<!-- Deal of the week -->

<div class="deal_ofthe_week">
    <div class="main_slider" style="background-image:url(Content/assets/images/Test2.png)">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="deal_ofthe_week_img">
                                <img src="images/deal_ofthe_week.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 text-right deal_ofthe_week_col">
                            <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                                <div style=" background-color: white; width: 515px; height: 51px; border-radius: 50px 50px 0 0;">
                                    <h2 style="font-family: math; font-size: 35px; position: relative; left: -86px; margin-top: 7px;">ƯU ĐÃI TRONG TUẦN</h2>
                                </div>
                                <ul class="timer">
                                    <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <div id="day" class="timer_num" style="color: blue;">01</div>
                                        <div class="timer_unit">Ngày</div>
                                    </li>
                                    <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <div id="hour" class="timer_num" style="color: blue;">14</div>
                                        <div class="timer_unit">Giờ</div>
                                    </li>
                                    <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <div id="minute" class="timer_num" style="color: blue;">40</div>
                                        <div class="timer_unit">Phút</div>
                                    </li>
                                    <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <div id="second" class="timer_num" style="color: blue;">13</div>
                                        <div class="timer_unit">Giây</div>
                                    </li>
                                </ul>
                                <div class="red_button deal_ofthe_week_button"><a href="#">Mua ngay</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Blogs -->
@Html.Action("Partial_News_Home", "News")
<div style=" height: 1px;"><a style="cursor: pointer; font-size: 83px; color: darkblue; position: relative; left: 1400px; top: -34px;" class="scrollUp"><i class="fa fa-arrow-circle-up"></i></a></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy thẻ <a> có lớp scrollUp
        var link = document.querySelector("a.scrollUp");

        // Thêm sự kiện click cho thẻ <a>
        link.addEventListener("click", function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định khi click vào thẻ <a>

            // Cuộn trang web lên trên 100px từ đầu trang
            window.scrollTo({
                top: 0, // Cuộn lên đầu trang
                behavior: "smooth" // Cuộn mượt
            });
        });
    });
</script>
