@model IEnumerable<WebBanHangOnline.Models.EF.ProductCategory>
<style>
</style>
@if (Model != null && Model.Any())
{
    <ul class="sidebar_categories" style="height: 532px; ">
        <li><a href="/danh-muc-san-pham/vot-cau-long-yonex-18" style="font-size: 23px;position: relative;top: 4px; font-weight: 600;">Vợt cầu lông</a></li>
        <li><a href="/danh-muc-san-pham/vot-cau-long-yonex-18" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Vợt cầu lông Yonex</a></li>
        <li><a href="/danh-muc-san-pham/vot-cau-long-lining-19" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Vợt cầu lông Lining</a></li>
        <li style=" position: relative; bottom: 120px; left: 240px; "><a href="/danh-muc-san-pham/quan-cau-long-yonex-16" style="font-size: 23px;position: relative;top: 4px; font-weight: 600;">Quần cầu lông</a></li>
        <li style="position: relative; bottom: 120px; left: 240px;"><a href="/danh-muc-san-pham/quan-cau-long-yonex-16" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Quần cầu lông Yonex</a></li>
        <li style="position: relative; bottom: 120px; left: 240px;"><a href="/danh-muc-san-pham/quan-cau-long-lining-17" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Quần cầu lông Lining</a></li>
        <li style="position: relative; bottom: 120px;"><a href="/danh-muc-san-pham/vay-cau-long-yonex-22" style="font-size: 23px;position: relative; font-weight: 600;"> Váy cầu lông </a></li>
        <li style="position: relative; bottom: 120px;"><a href="/danh-muc-san-pham/vay-cau-long-yonex-22" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Váy cầu lông Yonex</a></li>
        <li style="position: relative; bottom: 120px;"><a href="/danh-muc-san-pham/vay-cau-long-lining-23" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Váy cầu lông Lining</a></li>
        <li style="position: relative; bottom: 240px; left: 240px;"><a href="/danh-muc-san-pham/ao-cau-long-yonex-14" style="font-size: 23px;position: relative; font-weight: 600;"> Áo cầu lông </a></li>
        <li style="position: relative; bottom: 240px; left: 240px;"><a href="/danh-muc-san-pham/ao-cau-long-yonex-14" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Áo cầu lông Yonex</a></li>
        <li style="position: relative; bottom: 240px; left: 240px;"><a href="/danh-muc-san-pham/ao-cau-long-lining-15" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Áo cầu lông Lining</a></li>
        <li style="position: relative; bottom: 240px;"><a href="/danh-muc-san-pham/giay-cau-long-yonex-20" style="font-size: 23px;position: relative; font-weight: 600;"> Giày cầu lông </a></li>
        <li style="position: relative; bottom: 240px;"><a href="/danh-muc-san-pham/giay-cau-long-yonex-20" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Giày cầu lông Yonex</a></li>
        <li style="position: relative; bottom: 240px;"><a href="/danh-muc-san-pham/giay-cau-long-lining-21" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Giày cầu lông Lining</a></li>
        <li style="position: relative; bottom: 360px; left: 240px;"><a href="/danh-muc-san-pham/tui-cau-long-yonex-24" style="font-size: 23px;position: relative; font-weight: 600;"> Túi cầu lông </a></li>
        <li style="position: relative; bottom: 360px; left: 240px;"><a href="/danh-muc-san-pham/tui-cau-long-yonex-24" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Túi cầu lông Yonex</a></li>
        <li style="position: relative; bottom: 360px; left: 240px;"><a href="/danh-muc-san-pham/tui-cau-long-lining-25" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Túi cầu lông Lining</a></li>
        <li style="position: relative; bottom: 360px; "><a href="/danh-muc-san-pham/cuon-can-cau-long-26" style="font-size: 23px;position: relative; font-weight: 600;">Phụ kiện cầu lông</a></li>
        <li style="position: relative; bottom: 360px;"><a href="/danh-muc-san-pham/cuon-can-cau-long-26" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Cuốn cán cầu lông</a></li>
        <li style="position: relative; bottom: 360px;"><a href="/danh-muc-san-pham/day-cang-vot-27" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Dây cước cầu lông</a></li>
        <li style="position: relative; bottom: 440px; left: 240px;"><a href="/danh-muc-san-pham/qua-cau-long-28" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Quả cầu lông</a></li>
        <li style="position: relative; bottom: 440px; left: 240px;"><a href="/danh-muc-san-pham/tat-chan-29" style=" position: relative;   "><i class="fa fa-angle-right" aria-hidden="true"></i>  Tất cầu lông</a></li>
    </ul>

    @*<ul class="sidebar_categories">
            @foreach (var item in Model)
            {
                if (ViewBag.CateId == item.Id)
                {
                    <li class="active"><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.Title</a></li>
                }
                else
                {
                    <li><a href="/danh-muc-san-pham/@item.Alias-@(item.Id)">@item.Title</a></li>
                }
            }

        </ul>*@
}

