
@{
    ViewBag.Title = "Index";
}

<style>
    #load_data {
        max-height: 100px; /* Đặt chiều cao cố định */
        overflow-y: auto; /* Tạo thanh cuộn dọc khi cần */
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href="/admin/statistical">Thống kê</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thống kê danh thu</h3>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-2"><label for="fromDate">Từ ngày</label></div>
                        <div class="col-10"><input style="width: 219px" type="date" class="form-control" id="fromDate"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8"><input style="width: 219px" type="date" class="form-control" id="toDate"></div>
                        <div class="col-4"><label style="position: relative; left: -50px;" for="toDate">Đến trước ngày</label></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button style=" position: relative; left: -552px; width: 126px;" class="btn btn-primary" id="searchButton">Lọc</button>
            </div>
        </div>
        <div class="card-body">

            <div class="">
                <div class="chart">
                    <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; border-top:1px solid; border-bottom:1px solid"></canvas>
                </div>
            </div>
            <div class="">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ngày</th>
                            <th>Doanh thu</th>
                            <th>Lợi nhuận</th>
                        </tr>
                    </thead>
                    <tbody id="load_data"></tbody>
                </table>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@*section scripts{
        <script src="~/Content/clients/plugins/chart.js/Chart.min.js"></script>
        <script src="~/Content/assets/plugins/moment/moment.min.js"></script>
        <script>
            $(function () {
                /* ChartJS
                 * -------
                 * Here we will create a few charts using ChartJS
                 */

                var arrDoanhThu = [];
                var arrLoiNhuan = [];
                var arrDate = [];
                $.ajax({
                    url: '/Statistical/GetStatistical',
                    type: 'GET',
                    data: { fromDate: '', toDate: '' },
                    success: function (rs) {

                        $.each(rs.Data, function (i, item) {
                            var strDate = moment(item.Date).format('DD/MM/yyyy');
                            arrDate.push(strDate);
                            arrDoanhThu.push(item.DoanhThu);
                            arrLoiNhuan.push(item.LoiNhuan);
                        });
                        var areaChartData = {
                            labels: arrDate,
                            datasets: [
                                {
                                    label: 'Lợi nhuận',
                                    backgroundColor: 'rgba(60,141,188,0.9)',
                                    borderColor: 'rgba(60,141,188,0.8)',
                                    pointRadius: false,
                                    pointColor: '#3b8bba',
                                    pointStrokeColor: 'rgba(60,141,188,1)',
                                    pointHighlightFill: '#fff',
                                    pointHighlightStroke: 'rgba(60,141,188,1)',
                                    data: arrLoiNhuan
                                },
                                {
                                    label: 'Danh thu',
                                    backgroundColor: 'rgba(210, 214, 222, 1)',
                                    borderColor: 'rgba(210, 214, 222, 1)',
                                    pointRadius: false,
                                    pointColor: 'rgba(210, 214, 222, 1)',
                                    pointStrokeColor: '#c1c7d1',
                                    pointHighlightFill: '#fff',
                                    pointHighlightStroke: 'rgba(220,220,220,1)',
                                    data: arrDoanhThu
                                },
                            ]
                        }
                        //-------------
                        //- BAR CHART -
                        //-------------
                        var barChartCanvas = $('#barChart').get(0).getContext('2d')
                        var barChartData = $.extend(true, {}, areaChartData)
                        var temp0 = areaChartData.datasets[0]
                        var temp1 = areaChartData.datasets[1]
                        barChartData.datasets[0] = temp1
                        barChartData.datasets[1] = temp0

                        var barChartOptions = {
                            responsive: true,
                            maintainAspectRatio: false,
                            datasetFill: false
                        }

                        new Chart(barChartCanvas, {
                            type: 'bar',
                            data: barChartData,
                            options: barChartOptions
                        });
                        load_data(rs.Data);
                    }
                });


            })

            function load_data(data) {
                var strHtml = "";
                $.each(data, function (i, item) {
                    var strDate = moment(item.Date).format('DD/MM/yyyy');
                    strHtml += "<tr>";
                    strHtml += "<td>" + (i + 1) + "</td>";
                    strHtml += "<td>" + strDate + "</td>";
                    strHtml += "<td>" + item.DoanhThu + "</td>";
                    strHtml += "<td>" + item.LoiNhuan + "</td>";
                    strHtml += "</tr>";
                });
                $('#load_data').html(strHtml);
            }
        </script>

        <script>
            $(function () {
                $("#searchButton").click(function () {
                    // Lấy giá trị ngày tháng từ input
                    var fromDate = $('#fromDate').val();
                    var toDate = $('#toDate').val();

                    // Chuyển đổi định dạng ngày tháng
                    var formattedFromDate = convertDateFormat(fromDate);
                    var formattedToDate = convertDateFormat(toDate);
                    $.ajax({
                        url: '/Statistical/GetStatistical',
                        type: 'GET',
                        data: { fromDate: formattedFromDate, toDate: formattedToDate },
                        success: function (rs) {
                            load_data(rs.Data);
                            update_chart(rs.Data);
                        }
                    });
                });

                // Hàm chuyển đổi định dạng ngày tháng từ yyyy-MM-dd thành dd/MM/yyyy
                function convertDateFormat(dateString) {
                    var parts = dateString.split('-');
                    if (parts.length === 3) {
                        return parts[2] + '/' + parts[1] + '/' + parts[0];
                    }
                    return '';
                }
                new Chart(barChartCanvas, {
                    type: 'bar',
                    data: barChartData,
                    options: barChartOptions
                });

                // Khởi tạo biến barChart sau khi tạo biểu đồ
                var barChart = $('#barChart').get(0).getContext('2d');

                function update_chart(data) {
                    // Code để cập nhật biểu đồ tại đây
                    // Cập nhật dữ liệu biểu đồ
                    barChart.data.labels = data.map(function (item) {
                        return moment(item.Date).format('DD/MM/yyyy');
                    });
                    barChart.data.datasets[0].data = data.map(function (item) {
                        return item.DoanhThu;
                    });
                    barChart.data.datasets[1].data = data.map(function (item) {
                        return item.LoiNhuan;
                    });

                    // Vẽ lại biểu đồ
                    barChart.update();
                }
            });
        </script>
    }*@


@section scripts{
    <script src="~/Content/clients/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Content/assets/plugins/moment/moment.min.js"></script>
    <script>
        $(function () {
            // Khai báo biến barChart
            var barChart;

            // Khởi tạo biểu đồ khi trang được tải
            initChart();

            function initChart() {
                /* ChartJS
                 * -------
                 * Here we will create a few charts using ChartJS
                 */

                var arrDoanhThu = [];
                var arrLoiNhuan = [];
                var arrDate = [];
                $.ajax({
                    url: '/Statistical/GetStatistical',
                    type: 'GET',
                    data: { fromDate: '', toDate: '' },
                    success: function (rs) {
                        $.each(rs.Data, function (i, item) {
                            var strDate = moment(item.Date).format('DD/MM/yyyy');
                            arrDate.push(strDate);
                            arrDoanhThu.push(item.DoanhThu);
                            arrLoiNhuan.push(item.LoiNhuan);
                        });
                        var areaChartData = {
                            labels: arrDate,
                            datasets: [
                                {
                                    label: 'Lợi nhuận',
                                    backgroundColor: 'rgba(0, 128, 0, 0.9)', // Màu xanh lá
                                    borderColor: 'rgba(60,141,188,0.8)',
                                    pointRadius: false,
                                    pointColor: '#3b8bba',
                                    pointStrokeColor: 'rgba(60,141,188,1)',
                                    pointHighlightFill: '#fff',
                                    pointHighlightStroke: 'rgba(60,141,188,1)',
                                    data: arrLoiNhuan
                                },
                                {
                                    label: 'Doanh thu',
                                    backgroundColor: 'rgba(0, 0, 139, 0.9)', // Màu dark blue
                                    borderColor: 'rgba(210, 214, 222, 1)',
                                    pointRadius: false,
                                    pointColor: 'rgba(210, 214, 222, 1)',
                                    pointStrokeColor: '#c1c7d1',
                                    pointHighlightFill: '#fff',
                                    pointHighlightStroke: 'rgba(220,220,220,1)',
                                    data: arrDoanhThu
                                },
                            ]
                        }
                        //-------------
                        //- BAR CHART -
                        //-------------

                        var barChartCanvas = $('#barChart').get(0).getContext('2d');
                        var barChartData = $.extend(true, {}, areaChartData);
                        var temp0 = areaChartData.datasets[0];
                        var temp1 = areaChartData.datasets[1];
                        barChartData.datasets[0] = temp1;
                        barChartData.datasets[1] = temp0;


                        // Tính toán số lượng chữ số của giá trị doanh thu
                        var digits = Math.floor(Math.log10(Math.max.apply(Math, arrDoanhThu))) + 1;

                        // Tính toán giá trị cuối cùng của trục y
                        var maxRevenue = Math.max.apply(Math, arrDoanhThu); // Lấy giá trị doanh thu lớn nhất
                        var finalYValue = Math.ceil(maxRevenue / Math.pow(10, digits - 1)) * Math.pow(10, digits - 1); // Làm tròn lên đến số nguyên gần nhất lớn hơn giá trị lớn nhất của doanh thu

                        // Tính toán bước nhảy
                        var stepSize = finalYValue / 10; // Bước nhảy của các đường kẻ
                        var barChartOptions = {
                            responsive: true,
                            maintainAspectRatio: false,
                            datasetFill: false,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        suggestedMin: 0, // Giá trị tối thiểu trục y
                                        suggestedMax: finalYValue, // Giá trị tối đa trục y
                                        stepSize: stepSize // Bước nhảy của các đường kẻ
                                    }
                                }]
                            }
                        };

                        // Khởi tạo biểu đồ
                        barChart = new Chart(barChartCanvas, {
                            type: 'bar',
                            data: barChartData,
                            options: barChartOptions
                        });

                        // Load dữ liệu ban đầu
                        load_data(rs.Data);
                    }
                });
            }

            $("#searchButton").click(function () {
                // Ẩn biểu đồ
                $('#barChart').hide();

                // Lấy giá trị ngày tháng từ input
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();

                // Chuyển đổi định dạng ngày tháng
                var formattedFromDate = convertDateFormat(fromDate);
                var formattedToDate = convertDateFormat(toDate);
                $.ajax({
                    url: '/Statistical/GetStatistical',
                    type: 'GET',
                    data: { fromDate: formattedFromDate, toDate: formattedToDate },
                    success: function (rs) {
                        // Hiển thị bảng dữ liệu
                        load_data(rs.Data);
                    }
                });
            });

            // Hàm chuyển đổi định dạng ngày tháng từ yyyy-MM-dd thành dd/MM/yyyy
            function convertDateFormat(dateString) {
                var parts = dateString.split('-');
                if (parts.length === 3) {
                    return parts[2] + '/' + parts[1] + '/' + parts[0];
                }
                return '';
            }

            function load_data(data) {
                var strHtml = "";
                $.each(data, function (i, item) {
                    var strDate = moment(item.Date).format('DD/MM/yyyy');
                    strHtml += "<tr>";
                    strHtml += "<td>" + (i + 1) + "</td>";
                    strHtml += "<td>" + strDate + "</td>";
                    strHtml += "<td>" + item.DoanhThu + "</td>";
                    strHtml += "<td>" + item.LoiNhuan + "</td>";
                    strHtml += "</tr>";
                });
                $('#load_data').html(strHtml);
            }
        });
    </script>
}


